### Docker compose files ##################################

# Docker image name (same as that in Makefile)
PROJECT_IMAGE_NAME=laravel-base-api

# Define the prefix of container names. This is useful if you have multiple projects that use laradock to have separate containers per project.
COMPOSE_PROJECT_NAME=laravel-base-api

### Application #############################
LARAVEL_ENV=production
HOST_APP_PORT=3000

### Mysql ################################
MYSQL_ROOT_PASSWORD=root
MYSQL_USER=user
MYSQL_PASSWORD=user123456
MYSQL_DB=laravel-base-api
MYSQL_PORT=3306